.showCities {
    min-height: 100vh;
}

.mainContent {
    padding: 60px 0px 100px 0px;

    @media (max-width: 768px) {
        padding: 32px 0px 60px 0px;
    }

    @media (max-width: 480px) {
        padding: 24px 0px 40px 0px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media (max-width: 768px) {
            gap: 32px;
        }

        @media (max-width: 480px) {
            gap: 20px;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: 768px) {
                gap: 10px;
            }

            @media (max-width: 480px) {
                gap: 8px;
            }

            h2 {
                color: #333333;
                font-weight: 600;
                font-size: 32px;
                line-height: 1.2;
                letter-spacing: 0%;

                @media (max-width: 768px) {
                    font-size: 24px;
                }

                @media (max-width: 480px) {
                    font-size: 18px;
                }
            }

            p {
                color: #4A5565;
                font-weight: 400;
                font-size: 18px;

                @media (max-width: 768px) {
                    font-size: 15px;
                }

                @media (max-width: 480px) {
                    font-size: 13px;
                }
            }
        }

        .cities {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            gap: 24px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
            }

            @media (max-width: 480px) {
                grid-template-columns: 1fr;
                gap: 16px;
            }
        }

        .loadMoreBtn {
            width: 283px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            color: $blue-900;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid $blue-900;
            cursor: pointer;
            transition: $transition-base;
            margin: auto;

            @media (max-width: 480px) {
                width: 100%;
                font-size: 14px;
            }

            svg {
                color: $blue-900;
            }

            &:hover {
                background-color: $blue-900;
                border: 1px solid $blue-900;
                color: $white;
                transform: translateY(-5px);

                svg {
                    color: $white;
                }
            }
        }
    }
}
